
body,

html {

	overflow-x: hidden;

	box-sizing: border-box

}

body {

	font-family: Lato, sans-serif;

	color: #333;

	font-size: 16px;

	position: relative

}

header {

	display: block

}

strike {

	color: gray;

	font-size: 12px

}

ul li {

	list-style: none;

	padding: 0;

	margin: 0

}

a {

	text-decoration: none;

	color: #333;

	-webkit-transition: .3s;

	-moz-transition: .3s;

	-o-transition: .3s;

	transition: .3s

}

a:focus,

a:hover {

	outline: 0;

	text-decoration: none

}

section {

	padding-top: 30px

}

h1,

h2,

h3,

h4,

h5,

h6 {

	font-family: Raleway, sans-serif

}

.btn:focus,

.btn:hover {

	outline: 0;

	box-shadow: none

}

.navbar-toggle {

	background-color: #f66

}

.navbar-toggle:hover {

	background-color: #f66

}

#scrollUp {

	bottom: 0;

	right: 10px;

	padding: 5px 10px;

	background: #f66;

	color: #fff;

	-moz-animation: bounce 2s ease infinite;

	-webkit-animation: bounce 2s ease infinite;

	animation: bounce 2s ease infinite

}

#scrollUp i {

	font-size: 30px

}

.no-padding {

	padding: 0

}

h2 {

	font-size: 30px;

	font-weight: 700;

	line-height: 40px;

	margin: 0;

	padding-bottom: 10px

}

img {

	border: none

}

.aa-primary-btn {

	font-size: 16px;

	padding: 10px 30px;

	border: 1px solid #e9e9e9;

	margin-top: 10px;

	display: inline-block;

	-webkit-transition: .5s;

	-moz-transition: .5s;

	-ms-transition: .5s;

	-o-transition: .5s;

	transition: .5s

}

.aa-primary-btn:focus,

.aa-primary-btn:hover {

	text-decoration: none

}

.aa-primary-btn span {

	margin-right: 5px

}

.aa-secondary-btn {

	background-color: #fff;

	font-size: 16px;

	padding: 10px 22px;

	margin-top: 10px;

	display: inline-block;

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	-ms--border-radius: 4px;

	border-radius: 4px;

	-webkit-transition: .5s;

	-moz-transition: .5s;

	-ms-transition: .5s;

	-o-transition: .5s;

	transition: .5s

}

.aa-secondary-btn:focus,

.aa-secondary-btn:hover {

	text-decoration: none;

	color: #fff

}

#aa-header {

	width: 100%;

	background-color: #057389

}

#aa-header .aa-header-top {

	border-bottom: 1px solid #e8e8e8;

	width: 100%;

	padding: 10px 0

}

#aa-header .aa-header-top .col-md-6 .cashback {

	height: 125px;

	width: 125px;

	margin-left: 400px;

	border-radius: 5%

}

#aa-header .aa-header-top .aa-header-top-area {

	width: 100%

}

#aa-header .aa-header-top .aa-header-top-left {

	float: left

}

#aa-header .aa-header-top .aa-header-top-right {

	float: right

}

#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right {

	display: inline-block;

	text-align: right

}

#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li {

	display: inline-block;

	text-align: right

}

#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li a {

	display: inline-block;

	color: #333;

	border-right: 1px solid #ddd;

	font-size: 14px;

	padding: 5px 8px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo {

	float: left;

	margin-top: 4px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a .img-logo {

	height: 120px;

	width: 120px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a p {

	font-weight: bolder;

	font-size: 35px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a p strong{

	color: #f66

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a {

	font-family: Raleway, sans-serif;

	font-size: 28px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a:hover {

	color: #333

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a p {

	display: inline-block;

	font-weight: 700;

	margin-bottom: 0;

	margin-left: 2px;

	margin-top: 5px

}

#aa-header .aa-header-top .aa-header-top-area .aa-logo a p span {

	display: block;

	font-size: 14px;

	font-weight: 400;

	letter-spacing: 1.5px;

	text-transform: uppercase;

	color: #f5f5f5

}

#menu .menu-area {

	float: left;

	width: 100%

}

#menu .menu-area .navbar-default {

	background-color: transparent;

	border: medium none;

	border-radius: 0;

	margin-bottom: 0;

	min-height: auto

}

#menu .menu-area .navbar-default .navbar-nav {

	display: inline-block;

	margin: 0;

	text-align: center;

	width: 100%

}

#menu .menu-area .navbar-default .navbar-nav li a {

	color: #fff;

	font-size: 16px;

	padding: 10px 15px;

	-webkit-transition: all .5s;

	-moz-transition: all .5s;

	-ms-transition: all .5s;

	-o-transition: all .5s;

	transition: all .5s

}

#menu .menu-area .navbar-default .navbar-nav li a:hover {

	color: #ffd615

}

#menu .menu-area .navbar-default .navbar-nav .open a {

	background-color: #fff

}

#menu .menu-area .navbar-default .navbar-nav li a.active {

	background-color: #43dde6;

	border-radius: 3%;

	color: #000

}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {

	padding: 8px 15px

}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus,

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover {

	color: #fff

}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu .dropdown-header {

	color: #555;

	display: block;

	font-size: 16px;

	padding: 3px 20px;

	text-transform: uppercase

}

.scrollToTop {

	bottom: 60px;

	color: #fff;

	display: none;

	font-size: 23px;

	height: 50px;

	line-height: 45px;

	position: fixed;

	right: 20px;

	text-align: center;

	text-decoration: none;

	-webkit-transition: all .5s ease 0s;

	-moz-transition: all .5s ease 0s;

	-ms-transition: all .5s ease 0s;

	-o-transition: all .5s ease 0s;

	transition: all .5s ease 0s;

	width: 50px;

	z-index: 999

}

.scrollToTop:focus,

.scrollToTop:hover {

	background-color: #fff;

	text-decoration: none;

	outline: 0

}

.slider-container {

	max-width: 90vw;

	max-height: 80vh;

	margin: 0 auto;

	margin-top: 70px

}

section .container-fluid {

	padding: 0 130px

}

section .container-fluid .special-section .specials a {

	text-decoration: none

}

section .container-fluid .special-section .specials img {

	height: 300px;

	width: 330px;

	border: 2px solid #000

}

.img-left,

.img-right {

	margin-right: 30px!important

}

section .container-fluid .special-section .specials .extra a {

	display: none

}

.category-products {

	border: 1px solid #f7f7f0;

	margin-bottom: 35px;

	padding-bottom: 20px;

	padding-top: 15px

}



.left-sidebar h1 {

	color: #002651;

	font-family: Roboto, sans-serif;

	font-size: 18px;

	font-weight: 700;

	margin: 0 auto 30px;

	margin-top: 10px;

	text-align: center;

	text-transform: uppercase;

	position: relative;

	z-index: 3

}

.left-sidebar h1:after,

h2.title:after {

	content: " ";

	position: absolute;

	border: 1px solid #43dde6;

	bottom: 11px;

	left: 0;

	width: 100%;

	height: 0;

	z-index: -2

}
.left-sidebar h1:after{
    bottom:0;
}


h2.title:before {

	content: " ";

	position: absolute;

	background: #fff;

	bottom: -6px;

	width: 220px;

	height: 30px;

	z-index: -1;

	left: 50%;

	margin-left: -110px

}

.left-sidebar {

	max-height: 3000px

}

.prime_member {

	margin-top: 20px;

	margin-left: -40px

}

.category-products .panel {

	background-color: #fff;

	border: 0;

	border-radius: 0;

	box-shadow: none;

	margin-bottom: 0

}

.category-products .panel-default .panel-heading {

	background-color: #fff;

	border: 0 none;

	color: #fff;

	padding: 5px 20px

}

.category-products .panel-default .panel-heading .panel-title a {

	color: #696763;

	font-family: Roboto, sans-serif;

	font-size: 14px;

	text-decoration: none;

	text-transform: uppercase

}

.panel-group .panel-heading+.panel-collapse .panel-body {

	border-top: 0 none

}

.category-products .badge {

	background: 0 0;

	border-radius: 10px;

	color: #696763;

	display: inline-block;

	font-size: 12px;

	font-weight: 700;

	line-height: 1;

	min-width: 10px;

	padding: 3px 7px;

	text-align: center;

	vertical-align: baseline;

	white-space: nowrap

}

.panel-body ul {

	padding-left: 20px

}

.panel-body ul li a {

	color: #696763;

	font-family: Roboto, sans-serif;

	font-size: 12px;

	text-transform: uppercase

}

.well {

	background-color: #fff;

	border: 1px solid #f7f7f0;

	border-radius: 4px;

	box-shadow: none;

	margin-bottom: 20px;

	min-height: 20px;

	padding: 35px

}

.tooltip-inner {

	background-color: #f66;

	border-radius: 4px;

	color: #fff;

	max-width: 200px;

	padding: 3px 8px;

	text-align: center;

	text-decoration: none

}

.tooltip.top .tooltip-arrow {

	border-top-color: #f66;

	border-width: 5px 5px 0;

	bottom: 0;

	left: 50%;

	margin-left: -5px

}

.padding-right {

	padding-right: 0

}

.features_items {

	overflow: hidden

}

.features_items .row {

	margin: 15px;

	margin-left: 60px

}

section .container .features_items .transparent-box a {

	text-decoration: none!important

}

h2.title {

	color: #002651;

	font-family: Roboto, sans-serif;

	font-size: 20px;

	font-weight: 700;

	margin: 0 15px;

	text-transform: uppercase;

	margin-top: 10px;

	margin-bottom: 15px;

	position: relative

}

.single-products {

	position: relative

}

.new,

.sale {

	position: absolute;

	top: 0;

	right: 0

}

.choose {

	border-top: 1px solid #f7f7f0

}

.choose ul li a {

	color: #b3afa8;

	font-family: Roboto, sans-serif;

	font-size: 13px;

	padding-left: 0;

	padding-right: 0

}

.choose ul li a i {

	margin-right: 5px

}

.choose ul li a:hover {

	background: 0 0;

	color: #f66

}

.category-tab {

	overflow: hidden

}

.category-tab ul {

	background: #40403e;

	border-bottom: 1px solid #f66;

	list-style: none outside none;

	margin: 0 0 30px;

	padding: 0;

	width: 100%

}

.category-tab ul li a {

	border: 0 none;

	border-radius: 0;

	color: #b3afa8;

	display: block;

	font-family: Roboto, sans-serif;

	font-size: 14px;

	text-transform: uppercase

}

.category-tab ul li a:hover {

	background: #f66;

	color: #fff

}

.nav-tabs li.active a,

.nav-tabs li.active a:focus,

.nav-tabs li.active a:hover {

	-moz-border-bottom-colors: none;

	-moz-border-left-colors: none;

	-moz-border-right-colors: none;

	-moz-border-top-colors: none;

	background-color: #f66;

	border: 0;

	color: #fff;

	cursor: default;

	margin-right: 0;

	margin-left: 0

}

.nav-tabs li a {

	border: 1px solid transparent;

	border-radius: 4px 4px 0 0;

	line-height: 1.42857;

	margin-right: 0

}

.banner-prime .container {

	margin: 0 25px!important;

	margin-bottom: 15px!important

}

.banner-prime .container .banner-img {

	height: 310px;

	max-width: 100vw!important;

	background-image: url(../assets/prime.jpg);

	background-repeat: no-repeat

}

.recommended_items {

	overflow: hidden;

	display: none!important

}

#recommended-item-carousel .carousel-inner .item {

	padding-left: 0

}

.recommended-item-control {

	position: absolute;

	top: 41%

}

.recommended-item-control i {

	background: none repeat scroll 0 0 #f66;

	color: #fff;

	font-size: 20px;

	padding: 4px 10px

}

.recommended-item-control i:hover {

	background: #ccccc6

}

.swiper-container {

	width: 100%;

	height: 310px

}

.swiper-slide {

	text-align: center;

	font-size: 18px;

	background: #fff;

	display: -webkit-box;

	display: -ms-flexbox;

	display: -webkit-flex;

	display: flex;

	-ms-box-pack: center;

	-moz-box-pack: center;

	-webkit-box-pack: center;

	-ms-flex-pack: center;

	-webkit-justify-content: center;

	justify-content: center;

	-ms-box-align: center;

	-moz-box-align: center;

	-webkit-box-align: center;

	-ms-flex-align: center;

	-webkit-align-items: center;

	align-items: center

}

.swiper-button-next,

.swiper-button-prev {

	color: #fff;

	text-decoration: none

}

.swiper-button-next:hover,

.swiper-button-prev:hover {

	color: #f66

}
#footer {

	background: #10375c

}

.footer-top .container {

	border-bottom: 1px solid #e0e0da;

	padding-bottom: 20px

}
.companyinfo h2, .aboutinfo h2, .aboutinfos h2 {
    color: #FF6666;
    /* font-family: abel; */
    font-size: 27px;
    text-transform: uppercase;
}
.aboutinfo,

.aboutinfos,

.companyinfo {

	margin-top: 57px

}

.companyinfo h2 {

	color: #f66;

	font-size: 27px;

	text-transform: uppercase;
	

}

.companyinfo p {

	color: #fffaf0;

	font-family: Roboto, sans-serif;

	font-size: 12px;

	font-weight: 300

}

.aboutinfo h2 {

	color: #f66;

	font-size: 27px;

	text-transform: uppercase;

	font-size: 12px;

	margin: 10px 55px;

	display: block;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: 600

}

.aboutinfos h2 {

	font-size: 12px;

	text-transform: uppercase;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: 600;

	color: #f66

}

.aboutinfos h2 a {

	text-decoration: none;

	color: #f66

}

.aboutinfo h2 a {

	text-decoration: none;

	color: #f66

}

.footer-amazon {

	color: #f66

}

.footer-top .col-sm-3 {

	overflow: hidden

}

.social-links {

	margin-top: 55px;

	margin-left: 20px

}

.social-links h2 {

	font-size: 14px;

	color: #f66;

	text-transform: uppercase;

	font-weight: 600

}

.social-links a {

	display: block;

	color: #fff;

	margin: 0 35px;

	text-decoration: none;

	-o-transition: all .3s ease;

	-moz-transition: all .3s ease;

	-webkit-transition: all .3s ease;

	transition: all .3s ease;

	font-size: 14px

}

.social-links .fa-star {

	font-size: 10px;

	color: #e2f3f5

}

.social-links a:hover {

	color: #ff304f

}

.iframe-img {

	position: relative;

	display: block;

	height: 61px;

	margin-bottom: 10px;

	border-radius: 3px

}

.overlay-icon {

	position: absolute;

	top: 0;

	width: 100%;

	height: 61px;

	background: #f66;

	border-radius: 3px;

	color: #fff;

	font-size: 20px;

	line-height: 0;

	display: block;

	opacity: 0;

	-webkit-transition: .3s;

	-moz-transition: .3s;

	-o-transition: .3s;

	transition: .3s

}

.overlay-icon i {

	position: relative;

	top: 50%;

	margin-top: -20px

}

.address {

	margin-top: 30px;

	position: relative;

	overflow: hidden

}

.address img {

	width: 100%

}

.address p {

	color: #666663;

	font-family: Roboto, sans-serif;

	font-size: 14px;

	font-weight: 300;

	left: 25px;

	position: absolute;

	top: 50px

}

.footer-bottom {

	background: #10375c;

	padding-top: 10px

}

.footer-bottom p {

	color: #ecfffb;

	font-family: Roboto, sans-serif;

	font-weight: 300;

	margin: auto;

	font-size: 14px;

	padding-bottom: 10px

}