@media (max-width:1024px) {
    .container {
        margin: 2px 0px;
    }

    #aa-header .aa-header-top .col-md-6 .cashback {
        margin-left: 300px;
        height: 115px;
        width: 115px;
    }

    #aa-header .aa-header-top .aa-header-top-area .aa-logo a .img-logo {
        height: 100px;
        width: 100px;
    }

    #aa-header .aa-header-top .aa-header-top-area .aa-logo a p {
        font-style: bold;
        font-size: 30px;

    }

    #menu .menu-area .navbar-default .navbar-nav li a {
        color: #fff;
        font-size: 14px;
        padding: 8px 12px;
    }

    section .container-fluid .special-section .specials img.img-left {
        margin-right: 30px;
    }

    section .container-fluid .special-section .specials img {
        height: 350px;
        width: 380px;
    }


    /* .swiper-slide {
        margin-left: 25px;
        margin-right: 25px;
    } */

    .productinfo h2 {
        font-size: 16px;
    }

    .productinfo p {
        font-size: 12px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 16px;
    }
}