@media (max-width: 1440px) {

	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin-right: 70px
	}

	section .container-fluid .special-section .specials img {
		height: 320px;
		width: 350px
	}

	.banner-prime .container {
		margin-left: 150px !important
	}

	.banner-prime .container .banner-img {
		width: 1110px
	}
}

@media (max-width: 1024px) {
	.container {
		margin: 2px 0
	}

	#aa-header .aa-header-top .col-md-6 .cashback {
		margin-left: 300px;
		height: 115px;
		width: 115px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a .img-logo {
		height: 100px;
		width: 100px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p {
		font-weight: bolder;
		font-size: 30px
	}

	#menu .menu-area .navbar-default .navbar-nav li a {
		color: #fff;
		font-size: 14px;
		padding: 8px 12px
	}

	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin-right: 15px !important
	}

	section .container-fluid .special-section .specials img {
		height: 220px;
		width: 250px
	}

	.prime_member {
		display: none
	}

	.productinfo h2 {
		font-size: 16px
	}

	.productinfo p {
		font-size: 12px
	}

	.banner-prime .container {
		margin: 0 180px !important
	}

	.banner-prime .container .banner-img {
		height: 290px;
		width: 640px !important;
		background-image: url(../assets/prime_member.jpg);
		background-size: cover;
		background-repeat: no-repeat
	}

	.swiper-button-next,
	.swiper-button-prev {
		font-size: 16px
	}
}

@media (max-width: 768px) {
	.container {
		margin: 0 0
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a .img-logo {
		height: 69px;
		width: 69px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p strong {
		font-size: 22px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p span {
		font-size: 12px
	}

	#aa-header .aa-header-top .col-md-6 .cashback {
		margin-left: 250px;
		height: 65px;
		width: 65px;
		margin-top: 12px
	}

	#menu .menu-area .navbar-default .navbar-nav li a {
		color: #fff;
		font-size: 10px;
		padding: 4px 8px
	}

	.slider-container {
		margin-top: 0
	}

	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin-right: 20px !important
	}

	section .container-fluid .special-section .specials img {
		height: 150px;
		width: 160px;
		border: 1px solid #000
	}

	.brands_products h2,
	.left-sidebar h2 {
		font-size: 18px
	}

	.left-sidebar h2:before {
		width: 105px;
		margin: 65px
	}

	h2.title {
		font-size: 16px
	}

	h2.title:before {
		width: 0
	}

	.category-products .panel-default .panel-heading .panel-title a {
		font-size: 15px
	}

	.panel-body ul li a {
		font-size: 13px
	}

	.panel-group .panel-heading+.panel-collapse .panel-body {
		padding: 5px
	}

	.category-products .badge {
		padding: 5px 7px;
		font-size: 10px
	}

	.features_items .row {
		margin: 5px;
		margin-left: 10px
	}

	.features_items .row div:last-child {
		display: none
	}

	.banner-prime .container {
		margin: 0 50px !important
	}

	.swiper-button-next {
		height: 10px !important;
		width: 10px !important
	}

	.swiper-button-next:after,
	.swiper-container-rtl .swiper-button-prev:after {
		font-size: 15px
	}

	h2 {
		padding-bottom: 5px
	}

	.aboutinfo h2,
	.aboutinfos h2,
	.companyinfo h1 {
		font-size: 18px
	}

	.aboutinfo h2 {
		margin: 3px 25px
	}

	.aboutinfos h2 {
		margin: 3px 0
	}

	.companyinfo p {
		font-size: 10px
	}

	.aboutinfo h2 a,
	.aboutinfos h2 a {
		font-size: 12px
	}

	.social-links h2 {
		font-size: 12px
	}

	.social-links a {
		margin: 5px 28px;
		font-size: 14px;
	}

	.footer-bottom p {
		font-size: 12px
	}
}

@media (max-width: 425px) {
	#aa-header .aa-header-top .aa-header-top-area .aa-logo {
		margin-top: 0;
		margin-left: 70px;
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a {
		font-size: 20px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a .img-logo {
		height: 70px;
		width: 70px;
		margin-top: -5px;
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p {
		font-size: 20px
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p strong {
		font-size: 25px;
	}

	#aa-header .aa-header-top .aa-header-top-area .aa-logo a p span {
		font-size: 14px
	}

	#aa-header .aa-header-top .right {
		display: none
	}

	#menu .menu-area .navbar-default .navbar-header {
		margin-left: 300px
	}

	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background: #000
	}

	#menu .menu-area .navbar-default .navbar-nav li a {
		font-size: 14px;
		padding: 7.4px 8px;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: #e7e7e7;
		max-height: 100vh;
	}

	section .container-fluid {
		padding: 0 50px;
	}

	.container-fluid .special-section .specials img {
		height: 220px !important;
		width: 240px !important
	}

	section .container-fluid .special-section .specials img,
	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin: 10px 55px
	}

	section .container-fluid .special-section .specials .extra {
		height: 220px !important;
		width: 240px !important;
		margin: 10px 55px;
		background-image: url(../assets/home/Cashback.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		border: 1px solid #000
	}

	section .container .row .col-sm-3 {
		display: block
	}

	.feature_items h2 .row .col-lg-3 {
		margin: 10px 50px
	}

	.features_items .row div:last-child {
		display: block !important
	}

	.resp {
		margin-left: 11rem;
		margin-bottom: 1.5rem
	}

	.left-sidebar h2:after,
	h2.title:after {
		bottom: 1px
	}

	.banner-prime .container {
		margin: 5px 5px !important
	}

	.banner-prime .container .banner-img {
		height: 200px;
		width: 700px !important
	}

	.recommended_items {
		display: none
	}

	.aboutinfo,
	.companyinfo {
		margin-top: 30px
	}

	.aboutinfos {
		margin-top: 0
	}

	.aboutinfo h2,
	.aboutinfos h2,
	.companyinfo h1 {
		font-size: 18px;
		margin-left: 150px
	}

	.companyinfo p {
		font-size: 13px;
		margin: 0 30px
	}

	.social-links {
		margin-top: 20px;
		margin-left: 130px;
	}

	.social-links h2 {
		font-size: 16px
	}
}

@media (max-width: 375px) {
	#aa-header .aa-header-top .aa-header-top-area .aa-logo {
		margin-top: 0;
		margin-left: 80px
	}

	#menu .menu-area .navbar-default .navbar-header {
		margin-left: 270px
	}

	section .container-fluid .special-section .specials img,
	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin: 10px 35px
	}

	section .container-fluid .special-section .specials .extra {
		margin: 10px 35px
	}

	.features_items .row div:last-child {
		display: block !important
	}

	.resp {
		margin-left: 8rem
	}

	.banner-prime {
		display: none
	}

	.aboutinfo,
	.companyinfo {
		margin-top: 20px
	}

	.aboutinfo h2,
	.aboutinfos h2,
	.companyinfo h1 {
		font-size: 14px;
		margin-left: 120px
	}

	.companyinfo p {
		font-size: 12px
	}

	.social-links {
		margin-top: 10px;
		margin-left: 110px
	}

	.social-links h2 {
		font-size: 12px
	}

	.footer-bottom p {
		font-size: 10px
	}
}

@media (max-width: 320px) {
	#aa-header .aa-header-top .aa-header-top-area .aa-logo {
		margin-top: 0;
		margin-left: 50px
	}

	#menu .menu-area .navbar-default .navbar-header {
		margin-left: 210px
	}

	section .container-fluid .special-section .specials img,
	section .container-fluid .special-section .specials img.img-left,
	section .container-fluid .special-section .specials img.img-right {
		margin: 5px 30px
	}

	.container-fluid .special-section .specials img {
		height: 140px !important;
		width: 170px !important
	}

	section .container-fluid .special-section .specials .extra {
		margin: 5px 30px;
		height: 140px !important;
		width: 170px !important
	}

	.features_items .row div:last-child {
		display: block !important
	}

	.resp {
		margin-left: 6rem
	}

	.banner-prime {
		display: none
	}

	.aboutinfo,
	.companyinfo {
		margin-top: 10px
	}

	.aboutinfo h2,
	.aboutinfos h2,
	.companyinfo h1 {
		font-size: 12px;
		margin-left: 105px
	}

	.aboutinfo h2,
	.aboutinfos h2 {
		margin-left: 90px
	}

	.companyinfo p {
		font-size: 10px;
		margin: 0 20px
	}

	.social-links {
		margin-top: 0;
		margin-left: 90px
	}

	.social-links h2 {
		font-size: 12px
	}

	.footer-bottom p {
		font-size: 10px
	}
}