/* 
#e3e9e5
#efcfd0
#d29681
#f7c73f
#057389
00a8e8 */

.navbar-brand {
    margin-left: 1rem;
    margin-right: 2rem !important;
}

.navbar-brand .logo {
    margin-right: 1rem;
    height: 60px;
    width: 60px;
}

.navbar-brand .logo-head {
    font-size: 28px;
}