.u-section-1 {
    background-image: none
}

.u-section-1 .u-sheet-1 {
    min-height: 600px;
}

.u-section-1 .u-text-1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px 450px;
    color: #ff6666;
    font-size: 2.5rem;


}

.u-section-1 .u-text-2 {
    animation-duration: 800ms;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-image: none;
    line-height: 1.8;
    margin: 7px 7px 60px 44px;
    font-family: cursive;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 465px
    }

    .u-section-1 .u-text-1 {
        margin-right: 741px;
        margin-left: 8px
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 356px
    }

    .u-section-1 .u-text-1 {
        margin-right: 529px;
        margin-left: 6px
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 267px
    }

    .u-section-1 .u-text-1 {
        margin-right: 355px;
        margin-left: 5px
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 168px
    }

    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
        margin-right: 160px;
        margin-left: 3px
    }
}

.u-section-2 {
    background-image: none
}

.u-section-2 .u-sheet-1 {
    min-height: 604px
}

.u-section-2 .u-text-1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 25px auto 0 449px;
    color: #ff6666;
    font-size: 2.5rem;
}

.u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px
}

.u-section-2 .u-layout-cell-1 {
    min-height: 322px
}

.u-section-2 .u-container-layout-1 {
    padding: 30px
}

.u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
    margin: 0 auto
}

.u-section-2 .u-text-2 {
    letter-spacing: 9px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0
}

.u-section-2 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 10px auto 0
}

.u-section-2 .u-icon-1 {
    height: 100%
}

.u-section-2 .u-icon-2 {
    height: 100%
}

.u-section-2 .u-icon-3 {
    height: 100%
}

.u-section-2 .u-layout-cell-2 {
    min-height: 322px
}

.u-section-2 .u-container-layout-2 {
    padding: 30px
}

.u-section-2 .u-image-2 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-2 {
    border-radius: 5%;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.u-section-2 .u-text-3 {
    letter-spacing: 9px;
    text-transform: uppercase;
    font-weight: 500;
    /* width: 238px; */
    margin: 20px 0 0;
}

.u-section-2 .u-social-icons-2 {

    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 10px auto 0;
}

.u-section-2 .u-icon-4 {
    height: 100%
}

.u-section-2 .u-icon-5 {
    height: 100%
}

.u-section-2 .u-icon-6 {
    height: 100%
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 390px
    }

    .u-section-2 .u-text-1 {
        margin-left: 370px
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 317px
    }

    .u-section-2 .u-image-1 {
        background-position: 50% 50%
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 255px
    }

    .u-section-2 .u-image-2 {
        background-position: 50% 50%
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 893px
    }

    .u-section-2 .u-text-1 {
        margin-left: 283px
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 296px
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1368px
    }

    .u-section-2 .u-text-1 {
        margin-left: 212px
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1345px
    }

    .u-section-2 .u-text-1 {
        margin-left: 133px
    }
}